USE [master]
GO
/****** Object:  Database [SKL]    Script Date: 27.02.21 10:22:09 ******/
CREATE DATABASE [SKL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SKL', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SKL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SKL_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SKL.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SKL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SKL]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID_PS] [int] IDENTITY(1,1) NOT NULL,
	[PSNAME] [nvarchar](70) NULL,
 CONSTRAINT [POST_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POTR]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POTR](
	[ID_PT] [int] IDENTITY(1,1) NOT NULL,
	[PTNAME] [nvarchar](80) NULL,
	[PTGODVYP] [date] NULL,
	[PTGOSNOMER] [nvarchar](50) NULL,
	[PTVIDTOPLIVA] [nchar](10) NULL,
 CONSTRAINT [POTR_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRIXOD]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIXOD](
	[ID_PR] [int] IDENTITY(1,1) NOT NULL,
	[PRDATE] [date] NULL,
	[PRCNT] [int] NULL,
	[PRPRICE] [int] NULL,
	[ID_TV] [int] NULL,
	[ID_PS] [int] NULL,
	[PRTTN] [nvarchar](20) NULL,
 CONSTRAINT [PRIXOD_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RASXOD]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RASXOD](
	[ID_RS] [int] IDENTITY(1,1) NOT NULL,
	[RSDATE] [date] NULL,
	[RSCNT] [int] NULL,
	[RSPRICE] [int] NULL,
	[ID_TV] [int] NULL,
	[ID_PT] [int] NULL,
	[RSTTN] [nvarchar](20) NOT NULL,
 CONSTRAINT [RASXOD_PK] PRIMARY KEY CLUSTERED 
(
	[ID_RS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRAX]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRAX](
	[Id_Strax] [int] IDENTITY(1,1) NOT NULL,
	[ID_PT] [int] NULL,
	[DATE_S] [date] NULL,
	[DATE_PO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Strax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEXOSMOTR]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXOSMOTR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ID_PT] [int] NULL,
	[DATE_S] [date] NULL,
	[DATE_PO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOVAR]    Script Date: 27.02.21 10:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOVAR](
	[ID_TV] [int] IDENTITY(1,1) NOT NULL,
	[TVNAME] [nvarchar](70) NULL,
	[TVED] [nvarchar](15) NULL,
	[RSCNT] [int] NOT NULL,
 CONSTRAINT [GOODS_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TOVAR] ADD  DEFAULT ((0)) FOR [RSCNT]
GO
USE [master]
GO
